<li class="list__radio-btn__element">
  <input class="input__radio-btn" type="radio" id="{{radio-input-id}}" name="selector">
  <label class="label__radio-btn" for="{{radio-input-for}}">{{radio-description}}</label>
</li>
