<footer>
<div class="footer-container">
  <h1>Où nous trouver ?</h1>

  <div class="map">
<img src="../../images/illus/success.svg" class="test725">
  </div>
  <div class="ecv-location-txt">
    <h3>ECV AQUITAINE</h3>
    <p class="txt-footer">22 rue de la porte
    <br>33000 Bordeaux
    <br>05.56.56.56.56
  </p>
  </div>
  <div class="ecv-location2-txt">
    <h3>ECV DGITAL</h3>
    <p class="txt-footer">22 rue de la porte
    <br>33000 Bordeaux
    <br>05.56.56.56.56
  </p>
  </div>
  {{>atoms-button-cta}}
  
</div>

</footer>
