<main role="main">

	<div class="l l--two-col">
		<div class="l-main">
			<section class="section">
				{{>organisms-main-sct}}
			</section>
		</div><!--end .l-main-->

		<div class="l-sidebar">
			{{>atoms-img}}
		</div><!--end .l-sidebar-->

	</div>

</main>
