	<div class="main-template">
		<div class="section-trial">

				{{>organisms-main-sct}}

		</div><!--end .l-main-->

		<div class="section-trial">
			{{>atoms-img}}
		</div><!--end .l-sidebar-->

	</div>
