<div class="info-rdv3">
  <p class="txt-calendar">3. Nous avons besoin de votre nom et de votre adresse e-mail afin de pouvoir valider votre réservation (réponse dans les 24 heures):</p>
</div>

<div class="completed">
  <label for=""><span>Nom</span></label>
  {{>atoms-input}}
</div>

<div class="completed2">
  <label for=""><span>Email</span></label>
  {{>atoms-input}}
</div>
