<div class="calendar-rdv">

  <div class="calendar-rdv-i">
    <h2> Un rendez-vous ? </h2>
    <hr class="soustitre">
    </br>
    {{>molecules-info-rdv}}
  </div>

  <div class="calendar-rdv-1-container">
    <div class="calendar-rdv-1"></div><!--end .l-main-->
    <div class="calendar-rdv-rigth1">
        {{>molecules-info-rdv2}}
        <hr>
        {{>molecules-info-rdv3}}
    </div><!--end .l-main-->
  </div>

</div>

{{#looprdv}}
  {{>atoms-button-cta}}
{{/looprdv}}
