h1 {
	text-align: fixed;
	font-size:48px;
	color: $secondary-color;
	font-family: 'Source sans Pro', bold;
}

h2 {
	text-align: fixed;
	font-size:42px;
	color: $secondary-color;
	font-family: 'Source sans Pro', black;
}

.txt-section {
	text-align: auto;
	font-family: 'Source sans Pro', regular;
	font-size:28px;
	color: rgba(33,33,33,100);
}

.txt-calendar {
	font-family: 'Source sans Pro', regular;
	text-align: fixed;
	font-size:18px;
	color: rgba(33,33,33,100);
}
